// Toolkit - For Examples
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// Color Swatch
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// .swatch {
//     width: 220px;
//     height: 110px;
//     margin: 6px;
//     border-radius: 8px;
//     display: inline-block;
//     text-align: center;
//     cursor: pointer;
//     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
//     transition: all 0.3s cubic-bezier(.25,.8,.25,1);
//
//     &:hover {
//         box-shadow: 0 10px 24px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.22);
//     }
//
//     span {
//         color: $off-white;
//         font-size: 30px;
//         display: block;
//         position: relative;
//         top: 50%;
//         transform: translateY(-50%);
//
//         &.inverted {
//             color: $off-black;
//         }
//     }
//
//     span:last-child {
//         font-size: 14px;
//     }
// }

.swatch {
    display: inline-block;

    width: 196px;
    margin: 10px;

    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 6px #CCCCCC;

    cursor: pointer;
    transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);

    .color {
        // background-color: #000;
        display: block;
        float: left;

        width: 98px;
        height: 84px;

        &.left {
            border-top-left-radius: 5px;
        }

        &.right {
            border-top-right-radius: 5px;
        }
    }

    label {
        display: block;

        font-size: 11px;
        font-weight: 300;
        float: left;

        padding: 5px 7px;

        color: #999999;

        cursor: pointer;

        &:last-child {
            float: right;
        }
    }

    h1 {
        display: block;
        float: left;

        font-size: 14px;
        font-weight: 400;
        width: 100%;
        text-align: left;

        margin: 0;
        padding: 5px 7px;

        color: #494A4A;

        vertical-align: baseline;
    }

    &:hover {
        box-shadow: 0 8px 14px 1px #CCCCCC;
    }
}

.header {
    margin: 0 auto 16px auto;
    border-bottom: 1px dotted #AAB2BD;
    width: 450px;
    text-align: center;

    h1 {
        font-weight: lighter;
    }
}

.palette {
    margin: 0 auto;
    height: auto;
    text-align: center;
}

.swatches {
    display: block;
    text-align: center;
}

.debug {
    border: 1px solid black;
}
